mongoDB

In [3]:
import pymongo

In [4]:
client=pymongo.MongoClient('mongodb+srv://chaypetla:saihhh@cluster0.eqckyw9.mongodb.net/?retryWrites=true&w=majority')

In [5]:
db=client['db_01']

In [6]:
collection=db['collection_01']

In [7]:
d={
    'id':'1',
    'name':'chay',
    'age':'28'
}

In [8]:
## insert one record

In [9]:
collection.insert_one(d)

InsertOneResult(ObjectId('6564ab9b836dbc15afb43c76'), acknowledged=True)

In [10]:
client.list_database_names()

['db_01', 'neurolabDB', 'admin', 'local']

In [11]:
for idx,record in enumerate(collection.find()):
    print(f"{idx}:{record}")

0:{'_id': ObjectId('656465ed115142d81d73bbe7'), 'id': '1', 'name': 'chay', 'age': '28'}
1:{'_id': ObjectId('65646914115142d81d73bbe8'), 'id': '2', 'name': 'sr', 'age': '29'}
2:{'_id': ObjectId('65646914115142d81d73bbe9'), 'id': '3', 'name': 'petla', 'age': '30'}
3:{'_id': ObjectId('65646914115142d81d73bbea'), 'id': '4', 'name': 'sai', 'age': '31'}
4:{'_id': ObjectId('6564ab9b836dbc15afb43c76'), 'id': '1', 'name': 'chay', 'age': '28'}

In [12]:
## insert multiple records'

In [13]:
l1=[
     {
       'id':'2',
       'name':'sr',
       'age':'29'
     },
     {
       'id':'3',
       'name':'petla',
       'age':'30'
     },
    {
       'id':'4',
       'name':'sai',
       'age':'31'
     },
   ]

In [14]:
x=collection.insert_many(l1)

In [15]:
x.inserted_ids

[ObjectId('6564ab9c836dbc15afb43c77'),
 ObjectId('6564ab9c836dbc15afb43c78'),
 ObjectId('6564ab9c836dbc15afb43c79')]

In [16]:
## fetch data

In [17]:
result=collection.find()

In [18]:
result ## returns object id

In [19]:
result[1]

{'_id': ObjectId('65646914115142d81d73bbe8'),
 'id': '2',
 'name': 'sr',
 'age': '29'}

In [20]:
for i in result:
    print(i)

{'_id': ObjectId('656465ed115142d81d73bbe7'), 'id': '1', 'name': 'chay', 'age': '28'}
{'_id': ObjectId('65646914115142d81d73bbe8'), 'id': '2', 'name': 'sr', 'age': '29'}
{'_id': ObjectId('65646914115142d81d73bbe9'), 'id': '3', 'name': 'petla', 'age': '30'}
{'_id': ObjectId('65646914115142d81d73bbea'), 'id': '4', 'name': 'sai', 'age': '31'}
{'_id': ObjectId('6564ab9b836dbc15afb43c76'), 'id': '1', 'name': 'chay', 'age': '28'}
{'_id': ObjectId('6564ab9c836dbc15afb43c77'), 'id': '2', 'name': 'sr', 'age': '29'}
{'_id': ObjectId('6564ab9c836dbc15afb43c78'), 'id': '3', 'name': 'petla', 'age': '30'}
{'_id': ObjectId('6564ab9c836dbc15afb43c79'), 'id': '4', 'name': 'sai', 'age': '31'}

In [21]:
##y=[x.getKey() for x in result]

In [22]:
##print(y)

In [23]:
y=collection.find().limit(2) ## gives only limited records

In [24]:
for i in y:
    print(i)

{'_id': ObjectId('656465ed115142d81d73bbe7'), 'id': '1', 'name': 'chay', 'age': '28'}
{'_id': ObjectId('65646914115142d81d73bbe8'), 'id': '2', 'name': 'sr', 'age': '29'}

In [25]:
y=collection.find({"name":"chay"}) ## find particular records by any key value

In [26]:
for i in y:
    print(i)

{'_id': ObjectId('656465ed115142d81d73bbe7'), 'id': '1', 'name': 'chay', 'age': '28'}
{'_id': ObjectId('6564ab9b836dbc15afb43c76'), 'id': '1', 'name': 'chay', 'age': '28'}

In [27]:
## using documentation specific methods for fetching data

In [28]:
result=collection.find()

In [29]:
for i in result:
    print(i)

{'_id': ObjectId('656465ed115142d81d73bbe7'), 'id': '1', 'name': 'chay', 'age': '28'}
{'_id': ObjectId('65646914115142d81d73bbe8'), 'id': '2', 'name': 'sr', 'age': '29'}
{'_id': ObjectId('65646914115142d81d73bbe9'), 'id': '3', 'name': 'petla', 'age': '30'}
{'_id': ObjectId('65646914115142d81d73bbea'), 'id': '4', 'name': 'sai', 'age': '31'}
{'_id': ObjectId('6564ab9b836dbc15afb43c76'), 'id': '1', 'name': 'chay', 'age': '28'}
{'_id': ObjectId('6564ab9c836dbc15afb43c77'), 'id': '2', 'name': 'sr', 'age': '29'}
{'_id': ObjectId('6564ab9c836dbc15afb43c78'), 'id': '3', 'name': 'petla', 'age': '30'}
{'_id': ObjectId('6564ab9c836dbc15afb43c79'), 'id': '4', 'name': 'sai', 'age': '31'}

In [30]:
result=collection.find({"id":{"$gt":"2"}}) ## $gt --> greater than, $lt --> less tha

In [31]:
for i in result:
    print(i)

{'_id': ObjectId('65646914115142d81d73bbe9'), 'id': '3', 'name': 'petla', 'age': '30'}
{'_id': ObjectId('65646914115142d81d73bbea'), 'id': '4', 'name': 'sai', 'age': '31'}
{'_id': ObjectId('6564ab9c836dbc15afb43c78'), 'id': '3', 'name': 'petla', 'age': '30'}
{'_id': ObjectId('6564ab9c836dbc15afb43c79'), 'id': '4', 'name': 'sai', 'age': '31'}

In [32]:
## sort the fetch data

In [33]:
result=collection.find().sort('age')

In [34]:
for i in result:
    print(i)

{'_id': ObjectId('656465ed115142d81d73bbe7'), 'id': '1', 'name': 'chay', 'age': '28'}
{'_id': ObjectId('6564ab9b836dbc15afb43c76'), 'id': '1', 'name': 'chay', 'age': '28'}
{'_id': ObjectId('65646914115142d81d73bbe8'), 'id': '2', 'name': 'sr', 'age': '29'}
{'_id': ObjectId('6564ab9c836dbc15afb43c77'), 'id': '2', 'name': 'sr', 'age': '29'}
{'_id': ObjectId('65646914115142d81d73bbe9'), 'id': '3', 'name': 'petla', 'age': '30'}
{'_id': ObjectId('6564ab9c836dbc15afb43c78'), 'id': '3', 'name': 'petla', 'age': '30'}
{'_id': ObjectId('65646914115142d81d73bbea'), 'id': '4', 'name': 'sai', 'age': '31'}
{'_id': ObjectId('6564ab9c836dbc15afb43c79'), 'id': '4', 'name': 'sai', 'age': '31'}

In [35]:
## insert data with not  of all the key value pairs

In [36]:
collection.insert_one({'id':'89','name':'esrdtfgyh'})

InsertOneResult(ObjectId('6564ae0f836dbc15afb43c7a'), acknowledged=True)

In [37]:
## delete data"

In [38]:
x=collection.delete_one({'id':'2'})

In [39]:
x.deleted_count

1

In [40]:
## drop collection

In [41]:
db=client['neurolabDB']

In [42]:
collection=db['products']

In [44]:
db.drop_collection('Products')

{'nIndexesWas': 1,
 'ns': 'neurolabDB.Products',
 'ok': 1.0,
 '$clusterTime': {'clusterTime': Timestamp(1701097865, 13),
  'signature': {'hash': b"\xbe\xc2\x13B\xa1F\xd7\x1d\x14?\x10\xd4\xa0\x9c\xa3\xa5\x80'M\x18",
   'keyId': 7253420664466440200}},
 'operationTime': Timestamp(1701097865, 13)}

In [45]:
## update

In [47]:
db=client['db_01']

In [53]:
collection=db['collection_01']

In [54]:
old={'id':'3'}
new={'$set':{'id':'33'}}
x=collection.update_many(old,new)

In [55]:
x.modified_count

2

In [56]:
y=collection.find()

In [57]:
for i in y:
    print(i)

{'_id': ObjectId('656465ed115142d81d73bbe7'), 'id': '1', 'name': 'chay', 'age': '28'}
{'_id': ObjectId('65646914115142d81d73bbe9'), 'id': '33', 'name': 'petla', 'age': '30'}
{'_id': ObjectId('65646914115142d81d73bbea'), 'id': '4', 'name': 'sai', 'age': '31'}
{'_id': ObjectId('6564ab9b836dbc15afb43c76'), 'id': '1', 'name': 'chay', 'age': '28'}
{'_id': ObjectId('6564ab9c836dbc15afb43c77'), 'id': '2', 'name': 'sr', 'age': '29'}
{'_id': ObjectId('6564ab9c836dbc15afb43c78'), 'id': '33', 'name': 'petla', 'age': '30'}
{'_id': ObjectId('6564ab9c836dbc15afb43c79'), 'id': '4', 'name': 'sai', 'age': '31'}
{'_id': ObjectId('6564ae0f836dbc15afb43c7a'), 'id': '89', 'name': 'esrdtfgyh'}