## format specifier

In [1]:
name= "chay"

In [2]:
print("my name is",name) ## simple pythonic print

my name is chay

In [6]:
print("my name is %s" %(name))

my name is chay

In [7]:
a=10

In [8]:
print("my age is %d"%a)

my age is 10

In [12]:
print("my name and age is %s , %d"%(name,a))

my name and age is chay , 10

## format function

In [13]:
print("my name is {}".format(name))

my name is chay

In [15]:
print("ma age is {}".format(a))

ma age is 10

In [16]:
print("my name and age is {} , {}".format(name,a))

my name and age is chay , 10

In [17]:
a,b,c=1,2,3

In [18]:
a,b,c

(1, 2, 3)

In [19]:
print("hi")
print("hi")
print("hi")

hi
hi
hi

## conditional statements

In [21]:
a=10

In [24]:
if a<5:
    print(a>5)
elif a==5:
    print(a)
else:
    print(a+5)

15

In [25]:
## wap to  accept integer from user and check whether it is even or odd

In [32]:
a=int(input())
if a%2==0:
    print("even")
else:
    print("odd")

 44

even

In [33]:
## wap to accept character from user and check whether it is capital or small case alphabet

In [39]:
a=input("enter any alphabet")
if ord(a)>=65 and ord(a)<=90:
    print("upper case",a)
else:
    print("lower case",a)

enter any alphabet R

upper case R

In [36]:
a

'w'

In [41]:
a=input("enter any alphabet")
if "A"<=a<="Z":
    print("upper case",a)
else:
    print("small case",a)

enter any alphabet Y

upper case Y

## indentation

In [43]:
a,b=1,2
if a<b:
    print("hy")
    print("hello")
print("ji")

hy
hello
ji

In [45]:
## wap to write greatest of 3 numbers without using logical and cascading relational operators

In [50]:
a,b,c=100,20,3678
if a>b:
    if a>c:
        print("a is greatest",a)
    else:
        print("c is greatest",c)
else:
    if b>c:
        print("b is greatest",b)
    else:
        print("c is greatest",c)

c is greatest 3678

In [122]:
def maxi(a,b,c):
    if a>b:
        if a>c:
            return a
        else:
            return c
    
    else:
        if b>c:
            return b
        else:
            return c

In [125]:
maxi(1276879,922,3780)

1276879

## iterative statements

In [1]:
## while loop

In [2]:
## wap to print 10 natural numbers

In [3]:
 def naturalNO(a):
        while(a>0):
            print(a)
            a=a-1

In [4]:
naturalNO(6)

6
5
4
3
2
1

In [5]:
naturalNO(4)

4
3
2
1

In [6]:
## wap to take string from user and display vertically omitting vowels

In [22]:
def printvertically(a):
    i=0
    while i< len(a)  :
        if a[i] not in "aeiou" :
            print(a[i])
        i=i+1

In [25]:
a=input("enter any string")
printvertically(a)

enter any string chay petla

c
h
y

p
t
l

In [2]:
bool(0b000)

False

In [3]:
a=12
b=34
print(a,"hy",b)

12 hy 34