# list comprehension

In [1]:
# syntax - [x for x in iterable<test_condition>]

In [3]:
l1=[1,2,3,4,5]
lComp=[x for x in l1]

In [5]:
lComp

[1, 2, 3, 4, 5]

In [6]:
a='chay'
b=[x for x in a]
b

['c', 'h', 'a', 'y']

In [7]:
## wap to print squares of 5 numbers which are stored in list

In [8]:
a=range(1,5)

In [9]:
a

range(1, 5)

In [12]:
a=[x*x for x in [1,2,3,4,5]]

In [13]:
a

[1, 4, 9, 16, 25]

In [15]:
a=[x**2 for x in range(1,6)]
a

[1, 4, 9, 16, 25]

In [16]:
## wap to accept string from user and convert it to upper case and store it in a list

In [21]:
a=input('enter a string')
l1=[x.upper() for x in a.split()]

enter a string hy hwr uu

In [22]:
l1

['HY', 'HWR', 'UU']

In [23]:
b=a.split()

In [25]:
type(b)

list

In [26]:
## wap to accept 5 integers from user and store it in a list. Display the list elements and list sum

In [31]:
a=input('enter 5 numbers')
b=[int(x) for x in a.split()]

sum(b), b

enter 5 numbers  12 4 58 67 4

(145, [12, 4, 58, 67, 4])

In [30]:
b

[1, 2, 3, 4, 6]

In [32]:
## wap to produce squares of odd numbers from 1 to 20

In [38]:
a=[x*x for x in range(1,11) if x%2!=0]

In [39]:
a

[1, 9, 25, 49, 81]

In [40]:
## wap to create a fun to remove vowels and return the list with removed vowels

In [56]:
def removevowels(a):
    b=[x for x in a if x in ['a','e','i','o','u']]
    
    return b

In [58]:
removevowels(" hy hw r u dear")

['u', 'e', 'a']

In [59]:
b

[12, 4, 58, 67, 4]

# tuple

In [1]:
a=(1,3,4)

In [2]:
a

(1, 3, 4)

In [3]:
type(a)

tuple

In [4]:
# list - mutable,slow
# tuple - immutable,fast

In [5]:
a=(1)# tuple with ine vairable is treated as variable
type(a)

int

In [7]:
a=(1,) # specify , for one variable tuple
type(a)

tuple

In [8]:
## packing and unpacking

In [9]:
a=1,2,3,4,5 # packing
type(a)

tuple

In [10]:
x,y,z,g,h=a # unpacking
x

1

In [11]:
# unpacking is allowed for lists too

In [12]:
a=[1,3,5,6]
x,y,c,v=a

In [13]:
x,y

(1, 3)

In [14]:
## accessing tuple elements similar to list

In [15]:
a=(1,2,46,6)
a[3]

6

In [16]:
## assignment opeartor in tuple returns error

In [18]:
a[2]

46

In [19]:
a[2]=56

TypeError: 'tuple' object does not support item assignment

In [21]:
a=([1,2],5,[7,8,9])

In [22]:
a[0][1]

2

In [23]:
a[0][1]=78 # list are mutable

In [24]:
a

([1, 78], 5, [7, 8, 9])

In [25]:
del(a) # deletes the object

In [26]:
a

NameError: name 'a' is not defined

In [27]:
## functions in tuple are similar to list
## methods in tuple dont work as list ,only count() and index() works

In [29]:
a=(1,2,3,4,3)
len(a)

5

In [30]:
sorted(a)

[1, 2, 3, 3, 4]

In [31]:
a=tuple("chay") # arguement takes only iterables

In [32]:
a

('c', 'h', 'a', 'y')

In [33]:
a.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [34]:
a.count('c')

1

In [35]:
a.remove('c')

AttributeError: 'tuple' object has no attribute 'remove'

In [36]:
a.reverse()

AttributeError: 'tuple' object has no attribute 'reverse'

In [37]:
## membership operator and concatenation is allowed in tuple

In [38]:
a=(1,2,3,4)
1 in a

True

In [39]:
b=(1,2,3,5,6)

In [40]:
a+b # creates new object

(1, 2, 3, 4, 1, 2, 3, 5, 6)

In [41]:
id(a)

139909701702800

In [42]:
id(a+b)

139909333262400

In [43]:
## multipliaction is allowed

In [44]:
a*3

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [46]:
id(a*5),id(a*3)

(139909775571856, 139909332527296)

In [47]:
## relational operators can be used

In [48]:
a=(1,2,3)
b=(2,3,4)
a<b

True

## set

In [49]:
## duplicates not allowed in set
## indexing not allowed
## set is unordered collection

In [50]:
a={1,2,3,4}

In [51]:
a

{1, 2, 3, 4}

In [52]:
type(a
    )

set

In [53]:
a={1,1,1,2}

In [54]:
a

{1, 2}

In [55]:
a[1]

TypeError: 'set' object is not subscriptable

In [58]:
a={2,'hy',8.9,'er'}

In [59]:
a

{2, 8.9, 'er', 'hy'}

In [ ]:
#functions and methods similar to list